/* hero section */
.hero {
    position: relative;
    min-height: 100vh;
    background: url("../../images/hero.jpg") center / cover no-repeat;
    display: flex;
    align-items: center;
}


.hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 921px;

}

.hero-content .hero-title {
    font-family: var(--font-brand);
    font-size: var(--fs-72);
    line-height: var(--lh-tight);
    letter-spacing: 1px;
    color: var(--color-rice-yellow);
}

.hero-content .hero-description {
    font-family: var(--font-body);
    font-size: var(--fs-24);
    line-height: var(--lh-tight);
    letter-spacing: 1px;
    color: var(--color-rice-yellow);
}

.hero-scroll {
    /* display: block; */
    font-size: var(--fs-24);
    color: var(--color-white);
    font-weight: 700;
}

.hero-scroll i {
    margin-left: 20px;
}

/* section-navigation */

.section-navigation {
    padding: 60px 0;
}

.section-navigation__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.section-navigation__card {
    position: relative;
    display: block;
    overflow: hidden;

}


.section-navigation__card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0));
}


.section-navigation__card:hover::after {
    height: 140px;
}

.section-navigation__card:hover img {
    transform: scale(110%);
}

.section-navigation__card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}


.section-navigation__title {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: var(--font-body);
    font-size: var(--fs-24);
    line-height: var(--lh-normal);
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    color: var(--color-white);
}

/* section-explore */
.explore {
    padding: 80px 0;
}

.explore .explore__title {
    font-family: var(--font-display);
    font-size: var(--fs-48);
    margin-bottom: 40px;
}

.explore-wrapper {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    align-items: center;
    gap: 60px;
}

.explore__content .explore__subtitle {
    font-size: var(--fs-32);
    margin-bottom: 20px;
}

.explore__content .explore__description {
    font-size: var(--fs-20);
    margin-bottom: 40px;
}

.explore__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore__button {
    display: inline-block;
    padding: 22px 14px;
    color: var(--color-green);
    background-color: var(--color-white);
    transition: all .4s;
}

.explore__button i {
    margin-left: 12px;
}

.explore__button:hover {
    color: var(--color-white);
    background-color: var(--color-green);
}

.explore__controls {
    display: flex;
    gap: 28px;
}

.explore__controls .explore__arrow {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color-green);
    border-radius: 50%;
    opacity: .3;
    cursor: pointer;
    transition: all .3s;
}

.explore__arrow:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.explore__controls .explore__arrow:hover {
    opacity: 1;
}

.explore__controls .explore__arrow i {
    color: var(--color-green);
}

.explore__image {
    width: 100%;
    overflow: hidden;
}

.explore__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* chronicle-section */

.timeline {
    padding: 80px 0;

}

.timeline__title {
    font-family: var(--font-display);
    font-size: var(--fs-48);
    margin-bottom: 80px;
}

.timeline__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 1px dashed var(--color-grey);
    margin-bottom: 60px;
}

.timeline__nav .timeline__nav-item {
    font-size: var(--fs-40);
    color: var(--color-grey);
    cursor: pointer;
}

.timeline__nav-item.active {
    color: var(--color-black);
    font-weight: 600;
}

.timeline__content {
    display: flex;
    gap: 60px;
}

.timeline__item {
    display: none;
}

.timeline__item.active {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 60px;
    align-items: start;
    width: 100%;
    height: 462px;
    overflow: hidden;
}

.timeline__item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    display: block;
}

.timeline__content .timeline__item p {
    font-size: var(--fs-40);
    line-height: var(--lh-normal);
    color: var(--color-grey);
}


/* seasonal section */

.seasonal {
    background: url("../../images/wood_board.jpg");
    /* height: 900px; */
}

.seasonal-board {
    position: relative;
    padding-top: 74px;
    height: 300vh;

}

.seasonal-board .season-highlight {
    display: inline-block;
    font-family: var(--font-display);
    font-size: var(--fs-48);
    background-color: #fffffa;
    padding: 30px 49px;
    border-radius: 16px;
}

.season-highlight span {
    color: var(--color-yellow);
}

.seasonal-board .season-description {
    position: absolute;
    display: inline-block;
    width: 650px;
    top: 5%;
    right: 0;
    font-family: var(--font-body);
    font-size: var(--fs-18);
    background-color: #fffffa;
    padding: 35px 21px;
    border-radius: 16px;
}


.seasonal-board .season-card {
    position: absolute;
    width: 598px;
    height: 558px;
    padding: 26px 26px;
    background-color: #fffffa;
    border-radius: 16px;
}

.season-card .season-card__image {
    width: 100%;
    margin-bottom: 24px;
}

.season-card__image img {
    width: 100%;
}

.season-card__title {
    margin-bottom: 12px;
}

.spring {
    top: 15%;
    left: 0;
    transform: rotate(-6deg);
}

.summer {
    top: 25%;
    right: 0px;
    transform: rotate(10deg);
}

.fall {
    top: 40%;
    left: 0px;
    transform: rotate(-5deg);
}

.winter {
    top: 50%;
    right: 0;
    transform: rotate(6deg);
}

.season-postcard {
    position: absolute;
    width: 325px;
    height: 450px;
    left: 0;
    bottom: 15%;
    transform: rotate(-10deg);
    padding: 25px 20px;
    /* width: 100%; */
    background-image: url('../../images/postcard.png');
    background-size: cover;

}

.season-postcard_title {
    font-size: var(--fs-18);
    font-weight: bold;
    margin-bottom: 10px;
}

/* things-to-do */

.things-to-do {
    padding: 80px 0;
}

.things-to-do__title {
    font-family: var(--font-display);
    font-size: var(--fs-48);
    margin-bottom: 60px;
}

.things-to-do__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    /* grid-auto-rows: 300px; */
}

.things-card__image {
    /* aspect-ratio: 16/9; */
    height: 600px;
}

.things-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.things-card__tags {
    position: absolute;
    top: 27px;
    left: 20px;
    color: var(--color-white);
    padding: 4px 32px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    /* Glass base */
    background: rgba(12, 12, 32, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.things-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.things-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0));
}

.things-card__content {
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    padding: 20px 20px;
    z-index: 1;

}

.things-card__content .things-card__title {
    font-size: var(--fs-24);
    margin-bottom: 12px;
}


.things-card__description {
    margin-bottom: 24px;
}

/* ecosystem */

.ecosystem {
    padding: 80px;
}

.ecosystem__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;

}

.ecosystem__title {
    font-family: var(--font-display);
    font-size: var(--fs-48);
}

.ecosystem__content {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 100px;
}

.ecosystem__list .ecosystem__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 12px;
    border-bottom: 1px solid var(--color-grey);
    border-radius: 8px;
    transition: all .1s;
}

.ecosystem__list .ecosystem__item:hover {
    color: var(--color-white);
    background-color: var(--color-green);
}

.ecosystem__item .ecosystem__name {
    font-size: var(--fs-20);
    font-weight: bold;
}

.ecosystem__item .ecosystem__arrow {
    padding: 14px 14px;
    border-radius: 50%;
    background: var(--color-white);
    color: var(--color-green);
    transition: all .3s;
}

.ecosystem__list .ecosystem__item:hover .ecosystem__arrow {
    transform: rotate(-45deg);
}

.ecosystem__image {
    height: 314px;
    overflow: hidden;
    margin-bottom: 24px;
    border-radius: 8px;
}

.ecosystem__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ecosystem__detail .ecosystem__detail-title {
    margin-bottom: 12px;
}

/* history page */
.hero-history {
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.history-intro {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--layout-width);
    z-index: 10;
    padding: 40px 0 0 0;
}

.history-main-title {
    font-family: var(--font-brand);
    font-size: var(--fs-56);
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 16px;
    max-width: 900px;
}

.history-subtitle {
    font-size: var(--fs-24);
    color: var(--color-white);
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 24px;
}

/* history background */
.map-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/map_bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.img-sjdg {
    position: relative;
    width: 100%;
    height: 1900px; 
    background-image: url(../../images/sjdg_7.png);
    background-size: var(--layout-width);
    background-repeat: no-repeat;
    background-position: center;
}

/* timeline text entries */
.timeline-entry {
    position: absolute;
    width: 400px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.timeline-entry.left {
    left: 4%;
    text-align: right;
}

.timeline-entry.right {
    right: 16%;
    text-align: left;
}

.entry-year {
    font-family: var(--font-display);
    font-size: var(--fs-32);
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 4px;
}

.entry-title {
    font-family: var(--font-body);
    font-size: var(--fs-20);
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 10px;
}

.entry-text {
    font-family: var(--font-body);
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-white);
}