/* hero section */
.hero {
    position: relative;
    min-height: 100vh;
    background: url("/images/hero.png") center / cover no-repeat;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 921px;

}

.hero-content .hero-title {
    font-family: var(--font-brand);
    font-size: var(--fs-72);
    line-height: var(--lh-tight);
    letter-spacing: 1px;
    color: var(--color-rice-yellow);
}

.hero-content .hero-description {
    font-family: var(--font-body);
    font-size: var(--fs-24);
    line-height: var(--lh-tight);
    letter-spacing: 1px;
    color: var(--color-rice-yellow);
}

.hero-scroll {
    /* display: block; */
    font-size: var(--fs-24);
    color: var(--color-white);
    font-weight: 700;
}

.hero-scroll i {
    margin-left: 20px;
}