/* Plan Page CSS */

/*Map*/

.plan-hero {
	padding:0;
  margin: 0;
}

.plan-hero .map-page{
  width: 100%;
}

.page-plan .container {
	max-width: 1440px;
	margin: 0  auto;
	padding-left: 80px;
	padding-right: 90px;
}

@media (max-width: 1024px) {
	.page-plan .container {
	 padding-left: 40px;
	 padding-right: 40px;
	}
}
@media (max-width: 640px) {
	.page-plan .container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*Routing and Commuting Section*/

.routing {
  padding: 80px 0;
  background: var(--color-white);
}

.plan-section-title {
  font-family: var(--font-display);
  margin-bottom: 12px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  font-size: var(--fs-48);
  line-height: 1.02;
  font-weight: 600;
  color: var(--color-black);
}
/* first row */
.routing-row--top {
  display: grid;
  grid-template-columns: minmax(0, 2.2fr) minmax(320px, 0.78fr);
  gap: 1rem;
  align-items: stretch;
}

/* left image */
.routing-media--top {
  width: 100%;
  height: 335px;
  border-radius: 8px;
  overflow: hidden;
}

.routing-media--top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  object-position: center right;
  display: block;
}

/* right card */

.route-card--bus {
  width: 100%;
  height: 335px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  background-color: var(--color-green);
  background-image: url("../../images/wind-pattern.jpg");
  background: cover;
  background-size: 255px auto;
  background-position: center;
}

.route-card--bus .route-card__inner {
  width: 100%;
  max-width: 680px;
  min-height: 270px;
  background-color: var(--color-green);
  padding-top: 3rem;
  padding-left: 2.3rem;
  padding-right: 1.8rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* text */
.route-card--bus .route-card__title {
  margin: 0 0 1.35rem;
  font-family: var(--font-display);
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-white);
  text-align: left;
}

.route-card--bus .route-card__text {
  margin: 0 0 1.8rem;
  max-width: none;
  font-family: var(--font-body);
  font-size:var(--fs-16);
  color: var(--color-white);
  text-align: left;
  line-height: 1.5;
}

/* button */
.route-card--bus .plan-btn {
  display: inline-block;
  align-items: center;
  width: auto;
  align-self: flex-start;
  gap: 0.5rem;
  padding: 0.9rem 1.6rem;
  background: var(--color-white);
  color: var(--color-green);
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

/* row 2 */
.routing-row--boat {
  display: grid;
  grid-template-columns: 370px 1fr;
  gap: 1rem;
  margin-top: 1.30rem;
  align-items: stretch;
}

.routing-row--boat .routing-media--boat {
  height: 345px;
  border-radius: 8px;
  overflow: hidden;
}

.routing-row--boat .routing-media--boat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 78% center;
  display: block;
}

/*left boat card */

.route-card--boat {
  width: 100%;
  height: 345px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  background-color: var(--color-yellow);
  background-image: url("../../images/stairway-pattern.jpg");
  background-repeat: repeat;
  background-size: 255px auto;
  background-position: center;
}

.routing-row--boat .route-card__inner {
  width: 100%;
  max-width: 680px;
  min-height: 270px;
  background: var(--color-yellow);
  padding-top: 3rem;
  padding-left: 2.3rem;
  padding-right: 1.8rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.route-card--boat .route-card__title {
  margin: 0 0 1.35rem;
  font-family: var(--font-display);
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-white);
  text-align: left;
}

.route-card--boat .route-card__text {
  margin: 0 0 1.8rem;
  max-width: none;
  font-family: var(--font-body);
  font-size: var(--fs-16);
  line-height: 1.5;
  color: var(--color-white);
  text-align: left;
}

.route-card--boat .plan-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: auto;
  gap: 0.5rem;
  padding: 0.9rem 1.6rem;
  background: var(--color-white);
  color: var(--color-yellow);
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

/* row 3 */
.routing-row--walk {
  display: grid;
  grid-template-columns: minmax(0, 2.2fr) minmax(320px, 0.78fr);
  gap: 1rem;
  margin-top: 1.30rem;
  align-items: stretch;
}

.routing-row--walk .routing-media--walk,
.routing-row--walk .route-card--walk {
  height: 338px;
  border-radius: 8px;
  overflow: hidden;
}

.routing-row--walk .routing-media--walk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  display: block;
}

.route-card--walk {
  width: 100%;
  height: 338px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  background-color: var(--color-green);
  background-image: url("../../images/wind-pattern.jpg");
  background-repeat: repeat;
  background-size: 255px auto;
  background-position: center;
}

.route-card--walk .route-card__inner {
  width: 100%;
  max-width: 680px;
  min-height: 270px;
  background: var(--color-green);
  padding-top: 3rem;
  padding-left: 2.3rem;
  padding-right: 1.8rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.route-card--walk .route-card__title {
  margin: 0 0 1.35rem;
  font-family: var(--font-display);
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-white);
  text-align: left;
}

.route-card--walk .route-card__text {
  margin: 0 0 1.8rem;
  max-width: none;
  font-family: var(--font-body);
  font-size: var(--fs-16);
  line-height: 1.5;
  color: var(--color-white);
  text-align: left;
}

.route-card--walk .plan-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: auto;
  gap: 0.5rem;
  padding: 0.9rem 1.6rem;
  background: var(--color-white);
  color: var(--color-green);
  text-decoration: none;
  border-radius: 8px;
  font-family: var(--font-body);
  font-size: 0.95rem;
  font-weight: 600;
  transition: all 0.4s ease;
}
.route-card--bus .plan-btn:hover,
.route-card--walk .plan-btn:hover {
  background: var(--color-yellow);
  color: var(--color-white);
}

.route-card--boat .plan-btn:hover {
  background: var(--color-green);
  color: var(--color-white);
}

.routing-media--top,
.routing-media--boat,
.routing-media--walk {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.routing-media--top img,
.routing-media--boat img,
.routing-media--walk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.routing-media--top:hover img,
.routing-media--boat:hover img,
.routing-media--walk:hover img {
  transform: scale(1.08);
}

/*Four Seasons*/

.seasons {
  padding: 80px 0;
  background: var(--color-white);
}

.seasons-title {
  display: block;
  margin-bottom: 60px;
  margin: 0;
  font-family: var(--font-display);
  font-size: var(--fs-48);
  font-weight: 600;
   margin-block-end: 0.90em;
  color: var(--color-black);
}


.seasons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.seasons-col {
  display: grid;
  gap: 20px;
}

.season-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.season-card--large {
  height: 620px;
}

.season-card--small {
  height: 290px;
}

.season-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.season-card:hover img {
  transform: scale(1.08);
}

.season-card--spring img,
.season-card--summer img,
.season-card--fall img,
.season-card--winter img {
  object-position: center center;
}

.season-card img {
  transition: transform 0.4s ease;
}

.season-overlay {
   position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2rem;
  background: linear-gradient(
   to top,
    rgba(1, 48, 67, 0.75) 0%,   
    rgba(1, 48, 67, 0.45) 35%,  
    rgba(1, 48, 67, 0.15) 65%,  
    rgba(1, 48, 67, 0) 100%     
  );
}

.season-overlay h3 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: var(--color-white);
}

.season-card--large .season-overlay h3 {
  font-size: 2.4rem;
}

.season-overlay p {
  margin: 0 0 1.3rem;
  max-width: 28ch;
  font-family: var(--font-body);
  font-size: 0.98rem;
  line-height: 1.45;
  color: rgba(255, 255, 255, 0.92);
}

.season-card--small .season-overlay p {
  max-width: 30ch;
}


.season-overlay .plan-btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: auto;
  padding: 0.9rem 1.6rem;
  background: var(--color-white);
  color: var(--color-green);
  text-decoration: none;
  border-radius: 8px;
  font-family: var(--font-body);
  font-size: var(--fs-16);
  font-weight: 600;
  transition: all 0.4s ease;
}

.season-overlay .plan-btn:hover {
  background: var(--color-green);
  color: var(--color-white);
}

/* responsive */
@media (max-width: 900px) {
  .seasons-grid {
    grid-template-columns: 1fr;
  }

  .season-card--large,
  .season-card--small {
    height: 360px;
  }

  .seasons-title {
    font-size: 2.2rem;
  }
}

/* Things to do */
.things-to-do {
    padding: 80px 0;
}

.things-to-do__title {
    font-family: var(--font-display);
    font-size: var(--fs-48);
    margin-bottom: 60px;
}

.things-to-do__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    /* grid-auto-rows: 300px; */
}

.things-card__image {
    /* aspect-ratio: 16/9; */
    height: 600px;
}



.things-card__tags {
    position: absolute;
    top: 27px;
    left: 20px;
    color: var(--color-white);
    padding: 4px 32px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    /* Glass base */
    background: rgba(12, 12, 32, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.things-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

}

.things-card_overlay {
    position: absolute;
    z-index: 2;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    background: linear-gradient(to top,
            rgba(1, 48, 67, 0.75) 0%,
            rgba(1, 48, 67, 0.45) 20%,
            rgba(1, 48, 67, 0.15) 55%,
            rgba(1, 48, 67, 0) 100%);
}

.things-card__image img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.things-card:hover img {
    transform: scale(110%);

}

.things-card__content {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    color: #ffffff;
    padding: 20px 20px;

}

.things-card__content .things-card__title {
    font-size: var(--fs-24);
    margin-bottom: 12px;
}


.things-card__description {
    margin-bottom: 24px;
}

.explore__button {
    display: inline-block;
    padding: 0.9rem 1.6rem;
    font-weight: 600;
    color: var(--color-green);
    background-color: var(--color-white);
    transition: all .4s;
    border-radius: 8px;
}

.explore__button:hover {
    color: var(--color-white);
    background-color: var(--color-green);
}

